.container {
    background-color: aliceblue;
}

.input{
width: 190px;
height: 30px;
font-size: 19px;
border-radius:9px ;
}
button{
    margin-left: 10px;
    width: 60px;
    height: 30px;
    font-size: 15px;
    border-radius: 6px;
}
.Loading{
    margin-block:90px auto ;
    text-align: center;
}

@media (max-width:350px) {
    .ChildrenContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}